<!DOCTYPE html>
<html lang="en">
<head>
  {{>Header}}
</head>
<body>
    {{!-- Navbar  --}}
   {{>Navbar}}

    {{!-- main content start from here for error page --}}
    <div class="container d-f align-items-center justify-content-center "style="height: 76vh;">
      <img src="/static/img/errorPage.jpeg" alt="error page" width="60%">
    </div>

    {{!-- Footer and other scripts tags  --}}
   {{>Footer}}
</body>
</html>