<!DOCTYPE html>
<html lang="en">
<head>
  {{>Header}}
</head>
<body>
    {{!-- Navbar  --}}
   {{>Navbar}}

    {{!-- main content start from here for error page --}}
    

    {{!-- Footer and other scripts tags  --}}
   {{>Footer}}
</body>
</html>