<!DOCTYPE html>
<html lang="en">

<head>
    {{>Header}}
</head>

<body>
    {{!-- Navbar --}}
    {{>Navbar}}

    {{!-- main content start from here forsurveys --}}
    <div class="container col">
        <div class="container-fluid">
            <h1 class="text-center mark">All about the survey in starting with USA data</h1>
            <div class="max-vw-10">
                <img src="/static/img/surveys/surv-0.jpg" alt="surveys" class="img-fluid rounded ">
            </div>
        </div>
        <div class="container-fluid">
            <h1 class="text-center mark">All about the survey of All over countries</h1>
            <div class="max-vw-10">
                <img src="/static/img/surveys/surv-1.jpg" alt="surveys" class="img-fluid rounded " style="height10vh">
            </div>
        </div>
        <div class="container-fluid">
          <h1>All the top countries patient and recoveries </h1>
           <table class="table table-hover">

      <thead>
        <tr>
          <th scope="col">SNO</th>
          <th scope="col">Country Name</th>
          <th scope="col">Casess</th>
          <th scope="col">CasessHandle</th>
          <th scope="col">LastUpdate</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Switerland</td>
          <td>234</td>
          <td>12</td>
          <td>2022/02/12</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Switerland</td>
          <td>234</td>
          <td>12</td>
          <td>2022/02/12</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Switerland</td>
          <td>234</td>
          <td>12</td>
          <td>2022/02/12</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Switerland</td>
          <td>234</td>
          <td>12</td>
          <td>2022/02/12</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>India</td>
          <td>234</td>
          <td>12</td>
          <td>2022/02/12</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>USA</td>
          <td>234</td>
          <td>12</td>
          <td>2022/02/12</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>UK</td>
          <td>234</td>
          <td>12</td>
          <td>2022/02/12</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Ukraine</td>
          <td>234</td>
          <td>12</td>
          <td>2022/02/12</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Russia</td>
          <td>234</td>
          <td>12</td>
          <td>2022/02/12</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>Oman</td>
          <td>234</td>
          <td>12</td>
          <td>2022/02/12</td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td>UAE</td>
          <td>234</td>
          <td>12</td>
          <td>2022/02/12</td>
        </tr>
     
      </tbody>

    </table>
        </div>

    </div>


    {{!-- Footer and other scripts tags --}}
    {{>Footer}}
</body>

</html>